# Virtual environments & files
venv/
*.env

# Python Cache
__pycache__/

# Heroku Procfile
Procfile

# VS Code
.vscode/

# Markdown Files
*.md

# Git files
**/.git

# Nginx Files
# Ignoring nginx folder here because all Nginx files
# has already been defined on Prometheus
# The Nginx here is just for testing
**/nginx