<!DOCTYPE html>

<html lang="en">

    <head>

        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="">

    <title>Th3pl4gu3</title>

    <link rel="icon" type="image/png" href=" {{ url_for('static', filename='images/plague-art-2.png')}} "/>

    </head>

    <body style="background-color: #1d1c22;">
        <h1 style="color: rgb(255, 70, 70); text-align: center; font-size: 60px;">Error 404</h1>
    </body>

</html>