{% extends 'master.html' %}

{% block title %}
Th3pl4gu3
{% endblock %}

{% block meta %}
<meta content="Passionate DevOps Admin, Th3pl4gu3, from Mauritius" name="description">
<meta content="devops mauritius administrator programming it th3pl4gu3" name="keywords">
{% endblock %}

{% block body %}

<!-- ======= Header ======= -->
<header id="header" class="header-tops">
  <div class="container">

    <h1><a href="{{ url_for('portfolio.index') }}">TH3PL4GU3</a></h1>

    <h2>I'm a passionate <span>DevOps Admin</span> from Mauritius</h2>

    <nav class="nav-menu d-none d-lg-block">
      <ul>
        <li class="active"><a href="#header">Home</a></li>
        <li><a href="#about">About</a></li>
        <li><a href="#portfolio">Portfolio</a></li>
        <li><a href="#contact">Contact</a></li>
      </ul>
    </nav><!-- .nav-menu -->

    <div class="social-links">
      <a href="https://www.facebook.com/mervin16/" class="facebook" target="_blank"><i class="icofont-facebook"></i></a>
      <a href="https://www.instagram.com/mervin_hmrj/" class="instagram" target="_blank"><i
          class="icofont-instagram"></i></a>
      <a href="https://github.com/mervin16" class="github" target="_blank"><i class="icofont-github"></i></a>
      <a href="https://play.google.com/store/apps/dev?id=5236150593519379806" class="play-store" target="_blank"><i
          class="bx bxl-play-store"></i></a>
      <a href="https://www.linkedin.com/in/mervin-hemaraju-584239126/" class="linkedin" target="_blank"><i
          class="icofont-linkedin"></i></a>
    </div>

  </div>
</header><!-- End Header -->

<!-- ======= About Section ======= -->
<section id="about" class="about">

  <!-- ======= About Me ======= -->
  <div class="about-me container">

    <div class="section-title">
      <h2>About</h2>
      <p>Who am i?</p>
    </div>

    <div class="row">
      <div class="col-lg-4" data-aos="fade-right">
        <img src="{{ url_for('static', filename='img/me.webp') }}" class="img-fluid rounded" alt="">
      </div>
      <div class="col-lg-8 pt-4 pt-lg-0 content" data-aos="fade-left">
        <h3>DevOps &amp; Network Administrator</h3>
        <p class="font-italic">
          Th3pl4gu3 is my gaming alias (pretty any other alias) which i adopted since i was small. It is derived from
          the
          <a
            href="https://en.wikipedia.org/wiki/Bubonic_plague#:~:text=Bubonic%20plague%20is%20one%20of,the%20bacteria%20entered%20the%20skin.">
            Bubonic Plague</a>
          which swept the world in the 14th century.
        </p>
        <div class="row">
          <div class="col-lg-6">
            <ul>
              <li><i class="icofont-rounded-right"></i> <strong>Website:</strong> You are already on it</li>
              <li><i class="icofont-rounded-right"></i> <strong>Phone:</strong> Maybe another time</li>
              <li><i class="icofont-rounded-right"></i> <strong>Country:</strong> Mauritius</li>
            </ul>
          </div>
          <div class="col-lg-6">
            <ul>
              <li><i class="icofont-rounded-right"></i> <strong>Age:</strong> Something around not a teenager</li>
              <li><i class="icofont-rounded-right"></i> <strong>Email:</strong><a href="mailto:th3pl4gu33@gmail.com">
                  th3pl4gu33@gmail.com</a></li>
            </ul>
          </div>
        </div>
        <p>
          Why did i chose this alias you asked? Maybe i am one of the Bubonic Plague survivors or maybe i am the one who
          didn't survive.
        </p>
        <p>
          Well.
          Let's not go into that.
        </p>
      </div>
    </div>

  </div><!-- End About Me -->

  <!-- ======= Interests ======= -->
  <div class="interests container">

    <div class="section-title">
      <h2>Interests</h2>
    </div>

    <div class="row">
      <div class="col-lg-3 col-md-4">
        <div class="icon-box">
          <i class="ri-terminal-box-fill" style="color: #ffbb2c;"></i>
          <h3>Programming</h3>
        </div>
      </div>
      <div class="col-lg-3 col-md-4 mt-4 mt-md-0">
        <div class="icon-box">
          <i class="ri-mac-line" style="color: #5578ff;"></i>
          <h3>IT & Networks</h3>
        </div>
      </div>
      <div class="col-lg-3 col-md-4 mt-4 mt-md-0">
        <div class="icon-box">
          <i class="ri-netflix-fill" style="color: #e80368;"></i>
          <h3>Netflix</h3>
        </div>
      </div>
      <div class="col-lg-3 col-md-4 mt-4 mt-lg-0">
        <div class="icon-box">
          <i class="ri-android-fill" style="color: #5cff71;"></i>
          <h3>Android Programming</h3>
        </div>
      </div>
      <div class="col-lg-3 col-md-4 mt-4">
        <div class="icon-box">
          <i class="ri-plane-fill" style="color: #47aeff;"></i>
          <h3>Travelling</h3>
        </div>
      </div>
      <div class="col-lg-3 col-md-4 mt-4">
        <div class="icon-box">
          <i class="ri-film-line" style="color: #ffa76e;"></i>
          <h3>Movies & Tv Shows</h3>
        </div>
      </div>
      <div class="col-lg-3 col-md-4 mt-4">
        <div class="icon-box">
          <i class="ri-run-line" style="color: #11dbcf;"></i>
          <h3>Workout</h3>
        </div>
      </div>
    </div>

  </div><!-- End Interests -->

</section><!-- End About Section -->

<!-- ======= Portfolio Section ======= -->
<section id="portfolio" class="portfolio">
  <div class="container">

    <div class="section-title">
      <h2>Portfolio</h2>
      <p>My Works</p>
    </div>

    <div class="row">
      <div class="col-lg-12 d-flex justify-content-center">
        <ul id="portfolio-flters">
          <li data-filter="*" class="filter-active">All</li>
          <li data-filter=".filter-android">Android</li>
          <li data-filter=".filter-api">API</li>
          <li data-filter=".filter-python">Python</li>
          <li data-filter=".filter-go">GO</li>
          <li data-filter=".filter-netautomation">Network Automation</li>
        </ul>
      </div>
    </div>

    <div class="row portfolio-container">

      <div class="col-lg-4 col-md-6 portfolio-item filter-netautomation">
        <div class="portfolio-wrap">
          <img src="{{ url_for('static', filename='img/portfolio/ansible.webp') }}" class="img-fluid rounded"
            alt="Ansible Banner">
          <div class="portfolio-info">
            <h4>Ansible Automation</h4>
            <p>App</p>
            <div class="portfolio-links">
              <a href="{{ url_for('static', filename='img/portfolio/ansible.webp') }}" data-gall="portfolioGallery"
                class="venobox" title="Ansible Automation"><i class="bx bx-plus"></i></a>
              <a href="/ansible-automation" data-gall="portfolioDetailsGallery" data-vbtype="iframe" class="venobox"
                title="Portfolio Details"><i class="bx bx-link"></i></a>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 portfolio-item filter-android">
        <div class="portfolio-wrap">
          <img src="{{ url_for('static', filename='img/portfolio/locky.webp') }}" class="img-fluid rounded" alt="">
          <div class="portfolio-info">
            <h4>Locky Password Manager</h4>
            <p>Web</p>
            <div class="portfolio-links">
              <a href="{{ url_for('static', filename='img/portfolio/locky.webp') }}" data-gall="portfolioGallery"
                class="venobox" title="Locky"><i class="bx bx-plus"></i></a>
              <a href="/locky" data-gall="portfolioDetailsGallery" data-vbtype="iframe" class="venobox"
                title="Portfolio Details"><i class="bx bx-link"></i></a>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 portfolio-item filter-python filter-api">
        <div class="portfolio-wrap">
          <img src="{{ url_for('static', filename='img/portfolio/mes.webp') }}" class="img-fluid rounded" alt="">
          <div class="portfolio-info">
            <h4>Mauritius Emergency Services API</h4>
            <p>App</p>
            <div class="portfolio-links">
              <a href="{{ url_for('static', filename='img/portfolio/mes.webp') }}" data-gall="portfolioGallery"
                class="venobox" title="MES"><i class="bx bx-plus"></i></a>
              <a href="/mes" data-gall="portfolioDetailsGallery" data-vbtype="iframe" class="venobox"
                title="Portfolio Details"><i class="bx bx-link"></i></a>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 portfolio-item filter-api filter-go">
        <div class="portfolio-wrap">
          <img src="{{ url_for('static', filename='img/portfolio/mesg.webp') }}" class="img-fluid rounded"
            alt="MESG Banner">
          <div class="portfolio-info">
            <h4>Mauritius Emergency Services GO API</h4>
            <p>Card</p>
            <div class="portfolio-links">
              <a href="{{ url_for('static', filename='img/portfolio/mesg.webp') }}" data-gall="portfolioGallery"
                class="venobox" title="MESG"><i class="bx bx-plus"></i></a>
              <a href="/mesg" data-gall="portfolioDetailsGallery" data-vbtype="iframe" class="venobox"
                title="Portfolio Details"><i class="bx bx-link"></i></a>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 portfolio-item filter-api filter-python">
        <div class="portfolio-wrap">
          <img src="{{ url_for('static', filename='img/portfolio/fortweet.webp') }}" class="img-fluid rounded"
            alt="Fortweet Banner">
          <div class="portfolio-info">
            <h4>Fortweet</h4>
            <p>Web</p>
            <div class="portfolio-links">
              <a href="{{ url_for('static', filename='img/portfolio/fortweet.webp') }}" data-gall="portfolioGallery"
                class="venobox" title="Fortweet"><i class="bx bx-plus"></i></a>
              <a href="/fortweet" data-gall="portfolioDetailsGallery" data-vbtype="iframe" class="venobox"
                title="Portfolio Details"><i class="bx bx-link"></i></a>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 portfolio-item filter-netautomation filter-python">
        <div class="portfolio-wrap">
          <img src="{{ url_for('static', filename='img/portfolio/checkpoint.webp') }}" class="img-fluid rounded"
            alt="Checkpoint Banner">
          <div class="portfolio-info">
            <h4>Checkpoint Firewall Automation</h4>
            <p>App</p>
            <div class="portfolio-links">
              <a href="{{ url_for('static', filename='img/portfolio/checkpoint.webp') }}" data-gall="portfolioGallery"
                class="venobox" title="Checkpoint"><i class="bx bx-plus"></i></a>
              <a href="/checkpoint-automation" data-gall="portfolioDetailsGallery" data-vbtype="iframe" class="venobox"
                title="Portfolio Details"><i class="bx bx-link"></i></a>
            </div>
          </div>
        </div>
      </div>

    </div>

  </div>
</section><!-- End Portfolio Section -->

<!-- ======= Contact Section ======= -->
<section id="contact" class="contact">
  <div class="container">

    <div class="section-title">
      <h2>Contact</h2>
      <p>Contact Me</p>
    </div>

    <div class="row mt-2">

      <div class="col-md-6 d-flex align-items-stretch">
        <div class="info-box">
          <i class="bx bx-map"></i>
          <h3>My Address</h3>
          <p>Somewhere in Mauritius</p>
        </div>
      </div>

      <div class="col-md-6 mt-4 mt-md-0 d-flex align-items-stretch">
        <div class="info-box">
          <i class="bx bx-share-alt"></i>
          <h3>Social Profiles</h3>
          <div class="social-links">
            <a href="https://www.facebook.com/mervin16/" class="facebook" target="_blank"><i
                class="icofont-facebook"></i></a>
            <a href="https://www.instagram.com/mervin_hmrj/" class="instagram" target="_blank"><i
                class="icofont-instagram"></i></a>
            <a href="https://github.com/mervin16" class="github" target="_blank"><i class="icofont-github"></i></a>
            <a href="https://play.google.com/store/apps/dev?id=5236150593519379806" class="play-store"
              target="_blank"><i class="icofont-ui-play"></i></a>
            <a href="https://www.linkedin.com/in/mervin-hemaraju-584239126/" class="linkedin" target="_blank"><i
                class="icofont-linkedin"></i></a>
          </div>
        </div>
      </div>

      <div class="col-md-6 mt-4 d-flex align-items-stretch">
        <div class="info-box">
          <i class="bx bx-envelope"></i>
          <h3>Email Me</h3>
          <p><a href="mailto:th3pl4gu33@gmail.com">th3pl4gu33@gmail.com</a></p>
        </div>
      </div>
      <div class="col-md-6 mt-4 d-flex align-items-stretch">
        <div class="info-box">
          <i class="bx bx-phone-call"></i>
          <h3>Call Me</h3>
          <p>I prefer email</p>
        </div>
      </div>
    </div>

    <form action="{{ url_for('send_email') }}" method="post" role="form" class="php-email-form mt-4">
      <div class="form-row">
        <div class="col-md-6 form-group">
          <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" data-rule="minlen:4"
            data-msg="Please enter at least 4 chars" />
          <div class="validate"></div>
        </div>
        <div class="col-md-6 form-group">
          <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" data-rule="email"
            data-msg="Please enter a valid email" />
          <div class="validate"></div>
        </div>
      </div>
      <div class="form-group">
        <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" data-rule="minlen:4"
          data-msg="Please enter at least 8 chars of subject" />
        <div class="validate"></div>
      </div>
      <div class="form-group">
        <textarea class="form-control" name="message" rows="5" data-rule="required"
          data-msg="Please write something for us" placeholder="Message"></textarea>
        <div class="validate"></div>
      </div>
      <div class="mb-3">
        <div class="loading">Loading</div>
        <div class="error-message"></div>
        <div class="sent-message">Your message has been sent. Thank you!</div>
      </div>
      <div class="text-center"><button type="submit">Send Message</button></div>
    </form>

  </div>
</section><!-- End Contact Section -->

<div class="credits">
  <!-- All the links in the footer should remain intact. -->
  <!-- You can delete the links only if you purchased the pro version. -->
  <!-- Licensing information: https://bootstrapmade.com/license/ -->
  <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/personal-free-resume-bootstrap-template/ -->
  Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>

  <div class="copyright">
    &copy; Copyright <strong><span>Mervin Hemaraju</span></strong>. All Rights Reserved
  </div>

</div>

{% endblock %}